Ejercicio 1

In [113]:
# Al lanzar una moneda los resultados posibles son de 2**n

In [114]:
cantidad = 2**10
print(f'Cantidad de resultados posibles: {cantidad}')

Cantidad de resultados posibles: 1024

In [115]:
import numpy as np
from math import factorial

In [116]:

caras = 0
cruz = 0
for i in range(10):
    if np.random.random() < 0.5:
        caras += 1
    else:
        cruz += 1
print(caras/10,'//',cruz/10)

0.3 // 0.7

In [117]:
def combinaciones(N,n):
    comb = factorial(N) / (factorial(n)* factorial(N-n))
    return comb

In [118]:
print(f'La cantidad de combinaciones de 10 pasajeros controlados de a 3 es: {combinaciones(10,3)}')

La cantidad de combinaciones de 10 pasajeros controlados de a 3 es: 120.0

In [119]:
import pandas as pd
# Usando el metodo frecuentista se puede asignar la probabilidad en funcion de los resultados

In [120]:
df = pd.DataFrame(dict(Si=[148,162,296,252,858],No=[52,54,74,48,228]),index=['Norte','Noreste','Sur','Centro','Total'])
df

          Si   No
Norte    148   52
Noreste  162   54
Sur      296   74
Centro   252   48
Total    858  228

In [121]:
df['Total'] = df.agg(sum,axis=1)
df

          Si   No  Total
Norte    148   52    200
Noreste  162   54    216
Sur      296   74    370
Centro   252   48    300
Total    858  228   1086

In [122]:
# b
df['Si_probabilidad'] = df['Si'] / df['Total']
df

          Si   No  Total  Si_probabilidad
Norte    148   52    200         0.740000
Noreste  162   54    216         0.750000
Sur      296   74    370         0.800000
Centro   252   48    300         0.840000
Total    858  228   1086         0.790055

In [ ]:
#c

In [ ]:
#d Estara satisfecho porque la probabilidad ahora es de 0.79

In [ ]:
# e En la region centro es donde mas se usa el cinturon 0.84

In [197]:
np.random.uniform(0,1)

1.592652997251177

Ejercicio 4

In [296]:
def baraja_probabilidad():
    # La cantidad de napise rojos y negros es 26
    if np.random.random() > 0.5:
        return 'rojo'
    else:
        return "negro"
    
    if np.random.uniform(0,1) < 0.25:
        print("Salio pica" )
    elif np.random.uniform(0,1) >= 0.25 and np.random.uniform(0,1) < 0.5:
        print("Salio diamante" )
    elif np.random.uniform(0,1) >= 0.5 and np.random.uniform(0,1) < 0.75:
        print("Salio trebol" )
    else :
        print("Salio corazon" )

In [303]:
contador_rojo = 0
contador_negro = 0
tiradas = 10000
for i in range(tiradas):
    if baraja_probabilidad() == 'rojo':
        contador_rojo += 1
    elif baraja_probabilidad() == 'negro':
        contador_negro += 1
print(f'Salieron en {tiradas}: {contador_rojo} rojo y {contador_negro} negro')

Salieron en 100000: 49996 rojo y 24892 negro

Ejercicio 5

In [308]:
#En un maso de 52 cartas hay 4 "7" y 4 "8" por lo tanto la probabilidad de que salga uno de estos es
print(4/52)# Pero al tener en cuenta ambos resultados como posibles se duplica
print(f'Posiblidad 7 u 9 es: {2*4/52}')

0.07692307692307693
Posiblidad 7 u 9 es: 0.15384615384615385

Ejercicio 6

In [ ]:
# esta probabilidad a priori seria 1 divido la cantidad e paises participantes pero es posible dar un valor en funcion de otros resultados o valores conocidos
# Paises con mejores jugadores,paises que venian ganando

Ejercicio 7

In [310]:
# El experimento se hizo 50 veces, E1=20,E2=13,E3=17
#Basandome en estos resultados a traves del modelo frecuentista se le puede asignar a cada valor una probabilidad
print(f'Experimento 1 probabilidad: {20/50}')
print(f'Experimento 1 probabilidad: {13/50}')
print(f'Experimento 1 probabilidad: {17/50}')
#Como se ve aunque hay  resultados posibles usando el modelo frecuentista no serian equiprobables

Experimento 1 probabilidad: 0.4
Experimento 1 probabilidad: 0.26
Experimento 1 probabilidad: 0.34

Complementarios

ejercicio 1

In [320]:
print(f'Probabilidad de que uno pague con efectivo y el otro con credido es: {(6/15)*(7/15)}')
print(f'Probabilidad de que los dos paguen en efectivo es: {(6 / 15) ** 2}')

Probabilidad de que uno pague con efectivo y el otro con credido es: 0.18666666666666668
Probabilidad de que los dos paguen en efectivo es: 0.16000000000000003

Ejercicio 2

In [330]:
# La probabilidad de que no apruebe ninguno es que sen los 3 casos de desprobar es decir
desaprobar_todo = 0.8 * 0.5 * 0.4
print(1- desaprobar_todo)
# por lo tanto la probabilidad de que ocurra al menos 1 es 1-la prob de desprobar todo (que es probabilidad de no desaprobar todo es decir al menos aprobar 1)

0.84

In [328]:
## La probabilidad de que al menos apruebe un modulo se calcula con el principio de inclusion exclusion
# probabilidad 1 de los 3 = prob1 + prob2 +prob3 - prob1y2 prob1y3 prob2y3 + prob1,y23
probabilidad_123 = 0.2*0.5*0.6
probabilidad_12 = 0.2 * 0.5
probabilidad_13 = 0.2 * 0.6
probabilidad_23 = 0.5 * 0.6
probabilidad = 0.5 + 0.2 + 0.6 - probabilidad_12 - probabilidad_13 -probabilidad_23 + probabilidad_123
probabilidad

0.8399999999999996

In [331]:
print(f'Desaprobar todo : {desaprobar_todo}')

Desaprobar todo : 0.16000000000000003