In [26]:
import pymysql # conector a mysql

In [27]:
conexion = pymysql.connect(
    host='localhost',
    user='root',
    passwd='root',
    database='henry_hc_05')  # port toma por defecto 3306

In [28]:
cursor = conexion.cursor()

In [36]:
cursor.execute('SELECT * FROM alumno')
alumnos = cursor.fetchall() 
# trae todo de la consulta ejecutada
#fetchione() primera fila,
#fechtmay() Tambien la primera
# fetchmay(n) n primeras
alumnos[0] # devuelve la tabla en tuplas

(1,
 '274352477',
 'Candice',
 'Rojas',
 datetime.date(2000, 12, 10),
 datetime.date(2020, 1, 21),
 1235)

In [35]:
for valores in alumnos:
    print(valores)

1
274352477
Candice
Rojas
2000-12-10
2020-01-21
1235

In [ ]:
# Como insertar datos en la base de datos

# cursor.execute('INSERT INTO')
# conexion.commit() # Confirmo el cambio
# conexion.close() # Cierro la

In [ ]:
# Lo interesante es tomar datos de otras fuentes para subirlos
# cursor.execute('INSERT INTo ... VALUES(%s,%s)',(val1,val2))

In [ ]:
# Si quiero agregar varias filas puedo hacer una lista de tuoplas

personas = [
   # (col1,col2,col3)
    #(col1,col2,col3)
    
]

In [ ]:
# crusor.executemany('INSERT INT ... VALUES(%s,%s)',personas)

In [3]:
# PARA DESCARGAR csv

import requests
respuesta = requests.get('')
respuesta.tet