In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('hospitales2.csv')

In [ ]:
coordenadas = df['WKT'].str.strip('POINT ()')
coordenadas = coordenadas.str.split(' ',expand=True)
df[['latitud','longitud']] = coordenadas

In [ ]:
df

In [ ]:
df_nuevo = df[['latitud','longitud','DOM_GEO','NOMBRE']]

In [ ]:
df_nuevo.rename(columns={'DOM_GEO':'name','NOMBRE':'label'},inplace=True)
df_nuevo

In [ ]:
df_nuevo.to_csv('datos_hospitales.csv')

Convert the series ser into a dataframe with its index as another column on the dataframe.

In [47]:
import numpy as np

In [48]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [60]:
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [59]:
df_ser = pd.DataFrame(data=dict(indice = ser.index,valor=ser.values))
df_ser

   indice  valor
0       a      0
1       b      1
2       c      2
3       e      3
4       d      4
5       f      5
6       g      6
7       h      7
8       i      8
9       j      9
10      k     10
11      l     11
12      m     12
13      n     13
14      o     14
15      p     15
16      q     16
17      r     17
18      s     18
19      t     19
20      u     20
21      v     21
22      w     22
23      x     23
24      y     24
25      z     25

In [66]:
df_ser_alter = ser.to_frame().reset_index()
df_ser_alter

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [67]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [71]:
df_concat = pd.concat([ser1,ser2],axis=1)
df_concat

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

Give a name to the series ser calling it ‘alphabets’.

In [73]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [76]:
ser.name='Alfabeto'

From ser1 remove items present in ser2.

In [81]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
print(ser1)
print(ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [86]:
ser1[ser1.isin(ser2) == False]

0    1
1    2
2    3
dtype: int64

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [87]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser

0      5.377864
1      8.171082
2      7.354354
3     17.398578
4     12.561373
5      1.985288
6     12.529882
7      6.507383
8      1.673626
9     14.864871
10     8.514646
11     9.150061
12     4.791345
13     8.220747
14     8.072631
15    11.920029
16     8.220182
17    12.751524
18    13.875931
19    10.432067
20    15.875244
21     5.904637
22    12.040368
23    13.108979
24    14.446629
dtype: float64

In [91]:
print(ser.median())
print(ser.max())
np.percentile(ser, q=[0, 25, 50, 75, 100])

9.15006134044388
17.398577687588066

array([ 1.67362582,  7.35435367,  9.15006134, 12.75152394, 17.39857769])

Calculte the frequency counts of each unique value ser.

In [92]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [97]:
ser.value_counts()

e    6
a    5
d    4
c    3
f    3
g    3
h    3
b    3
Name: count, dtype: int64

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’

In [103]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser[ser.isin(ser.value_counts().index[:2]) == False] = 'otro'
ser

0        4
1        4
2        3
3     otro
4        3
5        4
6        4
7     otro
8        3
9        3
10       3
11    otro
dtype: object

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [104]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [113]:
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  1  3  8  4  7
1  1  6  8  9  8
2  2  6  3  2  6
3  7  2  7  8  6
4  1  8  1  9  5
5  4  5  6  6  7
6  4  8  4  1  4

From ser, extract the items at positions in list pos.

In [117]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [116]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

Get the positions of items of ser2 in ser1 as a list.

In [121]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]